<!-- head section -->
<%- include('partials/head.ejs') %>

    <body>

        <!-- header section -->
        <%- include('partials/nav.ejs') %>

            <!-- Blog section -->
            <section class="blog">
                <div class="container py-5">
                    <h1 class="text-center py-3">Get The knowledge</h1>
                    <div class="row">
                        <div
                            class="col-md-12 col-12 col-lg-6 col-xxl-6 d-flex flex-column justify-content-start align-items-end">
                            <h1>What is Blog</h1>
                            <p>Blog is a kind of information about something. It gives a user <br> proper knowledge
                                about the
                                user is
                                looking for. <br> This is best and effective way to get some knowledge <br> about
                                something and
                                on the
                                internet there are tons of blog <br> about tons of thing. So we can get information
                                about <br>
                                what we are
                                looking for.</p>
                        </div>
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                            <img src="./img/1.webp" alt="image is loading" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>

            <section class="blog">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-12 col-xxl-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h1 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Places Near Cox's Bazar
                                        </button>
                                    </h1>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default,
                                            until the collapse plugin adds the appropriate classes that we use to style
                                            each
                                            element. These classes control the overall appearance, as well as the
                                            showing and
                                            hiding via CSS transitions. You can modify any of this with custom CSS or
                                            overriding
                                            our default variables. It's also worth noting that just about any HTML can
                                            go within
                                            the <code>.accordion-body</code>, though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-12 col-xxl-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h1 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Places Near Sylhet
                                        </button>
                                    </h1>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default,
                                            until the collapse plugin adds the appropriate classes that we use to style
                                            each
                                            element. These classes control the overall appearance, as well as the
                                            showing and
                                            hiding via CSS transitions. You can modify any of this with custom CSS or
                                            overriding
                                            our default variables. It's also worth noting that just about any HTML can
                                            go within
                                            the <code>.accordion-body</code>, though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="blog">
                <div class="container py-3">
                    <div class="row gy-3">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cox's Bazar</h5>
                                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                                        cumque
                                        modi nisi nihil doloremque harum rerum consequatur repellendus at numquam
                                        explicabo
                                        nostrum quia accusamus, aliquam animi? Esse tempore rem dolore architecto
                                        cupiditate
                                        vero, optio consectetur, doloremque voluptates veniam magnam numquam aut maxime
                                        soluta
                                        rerum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cox's Bazar</h5>
                                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                                        cumque
                                        modi nisi nihil doloremque harum rerum consequatur repellendus at numquam
                                        explicabo
                                        nostrum quia accusamus, aliquam animi? Esse tempore rem dolore architecto
                                        cupiditate
                                        vero, optio consectetur, doloremque voluptates veniam magnam numquam aut maxime
                                        soluta
                                        rerum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cox's Bazar</h5>
                                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                                        cumque
                                        modi nisi nihil doloremque harum rerum consequatur repellendus at numquam
                                        explicabo
                                        nostrum quia accusamus, aliquam animi? Esse tempore rem dolore architecto
                                        cupiditate
                                        vero, optio consectetur, doloremque voluptates veniam magnam numquam aut maxime
                                        soluta
                                        rerum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cox's Bazar</h5>
                                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                                        cumque
                                        modi nisi nihil doloremque harum rerum consequatur repellendus at numquam
                                        explicabo
                                        nostrum quia accusamus, aliquam animi? Esse tempore rem dolore architecto
                                        cupiditate
                                        vero, optio consectetur, doloremque voluptates veniam magnam numquam aut maxime
                                        soluta
                                        rerum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cox's Bazar</h5>
                                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                                        cumque
                                        modi nisi nihil doloremque harum rerum consequatur repellendus at numquam
                                        explicabo
                                        nostrum quia accusamus, aliquam animi? Esse tempore rem dolore architecto
                                        cupiditate
                                        vero, optio consectetur, doloremque voluptates veniam magnam numquam aut maxime
                                        soluta
                                        rerum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cox's Bazar</h5>
                                    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab
                                        cumque
                                        modi nisi nihil doloremque harum rerum consequatur repellendus at numquam
                                        explicabo
                                        nostrum quia accusamus, aliquam animi? Esse tempore rem dolore architecto
                                        cupiditate
                                        vero, optio consectetur, doloremque voluptates veniam magnam numquam aut maxime
                                        soluta
                                        rerum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- footer section -->
            <%- include('partials/footer.ejs') %>


                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                    crossorigin="anonymous"></script>


                <script src="index.js"></script>

    </body>

    </html>